{% extends "home_layout.html" %}
{% from "macros.html" import nav_link with context %}
{% block content %}
<div style="text-align: center">
<h1>Welcome to GLADiator</h1>
<br>
<h6>Hello {{ current_user.name }} and welcome to GLADiator. We can help you achieve inner peace by suggesting different ways to wind down based on your current mood.</h6>
    <br>
<h6>Go to the 'Record Mood' page to start a mood recording session. As soon as you go to the page you can start talking about your day or anything you'd like.</h6>
    <br>
<h6>To see your past moods go to the 'Logs' page.</h6>
</div>

    <div class="row features">
    <div class="col text-center">
        <img src="/static/images/microphone.svg" class="img-circle feature-img" style="background-color: #c43d3d; padding: 10px;">
        <br>
        <h4 style="margin-top: 10px;">You Record</h4>
    </div>
    <div class="col text-center">
        <img src="/static/images/brain.svg" class="img-circle feature-img" style="background-color: #c43d3d; padding: 10px;">
        <h4 style="margin-top: 10px;">We Analyze</h4>
    </div>
    <div class="col text-center">
        <img src="/static/images/smile.svg"  class="img-circle feature-img" style="background-color: #c43d3d; padding: 10px;">
        <br>
        <h4 style="margin-top: 10px;">You Feel Better</h4>
    </div>
    </div>


<footer>
<div class="card text-white bg-secondary mb-3">
  <div class="card-body">
    <h5 class="card-title">Need Help?</h5>
    <p class="card-text">Please call 1-800-273-8255</p>
    <p class="card-text">The Lifeline provides 24/7, free and confidential support for people in distress, prevention and crisis resources for you.</p>
  </div>
</div>
</footer>
{% endblock %}
