<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Login - GLADiator</title>

  <!-- Core CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/login-custom.css">
  <link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.css">


</head>

<body id="site-content">

  <a class="top-link hide" href="" id="js-top">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z"/></svg>
  </a>



  <nav class="navbar">
    <div class="container col-lg-10 col-md-10 col-sm-12">
    <a class="navbar-brand logo">
      <img src="/static/images/roman_helmet_48px.png" class="d-inline-block align-top" width="30" height="30">
      GLADiator
    </a>
    <form action="/login">
      <button type="submit" class="btn-google">
        <img src="static/images/icon-google.png" alt="GOOGLE">Sign In With Google
      </button>
    </form>
  </div>
  </nav>


  <div class="main">


    <div class="container col-lg-10 col-md-10 col-sm-12">

      <div class="row heading">
        <div class="col-sm-12 col-md-8 col-md-8">
          <h1 class="cover-heading">Feel better with GLADiator</h1>
          <br>
          <p class="lead">Life is hard, we understand. With GLADiator you'll be able to vent your feelings without the fear of judgement. GLADiator will record your mood and help you achieve inner peace by suggesting different ways to wind down based on your current mood.</p>
          <br>
        </div>
      </div>

      <div class="row justify-content-between info-row">
        <div class="col-sm-12 col-md-4 col-md-4">
            <img id="face-img" src="static/images/mood.svg">
        </div>
        <div class="info info-right col-sm-12 col-md-6 col-lg-6 align-self-center">
          <h2 class="cover-heading">Fight Your Inner Demons</h2>
          <br>
          <p class="lead">GLADiator is a tool to help you identify and record your emotions. Moods are the heart of GLADiator (and you too) so we developed a system that can accurately analyze audio to identify your current mood.</p>
        </div>
      </div>



      <div class="row justify-content-between info-row">
        <div class="info col-6 align-self-center">
          <h2 class="cover-heading">We'll Help You</h2>
          <br>
          <p class="lead">Once you record your mood that's where we step in. Depending on if your mood is negative or a positive one, we'll offer jokes and inspirational quotes to get you back on track and feeling yourself again!</p>
        </div>
        <div class="col-4">
            <img id="face-img" src="static/images/thinking.svg" style="float: right;">
        </div>
      </div>


      <div class="row justify-content-between info-row">
        <div class="col-4">
            <img id="face-img" src="static\images\empathy.svg">
        </div>
        <div class="info info-right col-6 align-self-center">
          <h2 class="cover-heading">Live Better</h2>
          <br>
          <p class="lead">GLADiator was created to be a guiding hand that helps you learn healthy coping exercises that you can apply to every day life. Our team developed GLADiator to be a form of mobile assistance that can detect emotional
            episodes in an easy and friendly way.</p>
        </div>
      </div>


    </div>

  </div>

  <div class="align-items-center footer">
      <a href="https://github.com/ianpara/EmotionDetection">
          <img src="../static/images/GitHub_Logo.png" class="footer-img">
      </a>
  </div>



  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="static/js/jquery-3.2.1.min.js"></script>
  <script src="static/js/popper.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <script src="static/js/custom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>


  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

</body>

</html>
