{% extends "login_layout.html" %}
{% from "macros.html" import nav_link with context %}


{% block content %}
    <! -- Content -->

    <div class="row justify-content-center" style="text-align: center">
    <div class="col-8 align-self-end">
        <h1 class="cover-heading">Feel better with GLADiator</h1>
        <br>
        <p class="lead">Life is hard, we understand. With GLADiator you'll be able to vent your feelings without the fear of judgement. GLADiator will record your mood and help you achieve inner peace by suggesting different ways to wind down based on your current mood.</p>
        <br>
        <button data-toggle="modal" data-target="#modalLogin" class="btn btn-lg btn-secondary">Login</button>
    </div>
    </div>


{% endblock %}