{% extends "home_layout.html" %}
{% from "macros.html" import nav_link2 with context %}
{% block content %}

    <! -- Mood Modal -->
<div id="modalMood" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body justify-content-center align-content-center">
                <p><span id="resultHTML"></span></p>
                <br>
            </div>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
    </div>
</div>



<h2>Record Your Mood</h2>
<br>
    <br>
    <p>Hi {{ current_user.name }}, how is your day going?</p>

{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    if (confirm("Your recording session will begin after clicking 'OK'.")) {
    $.ajax({
        type:'POST',
        url: "{{ url_for('start_record') }}",
        datatype: "text",
        success: function(response){
            document.getElementById("resultHTML").innerHTML = response;
            $("#modalMood").modal();
        }
    });

} else {
         return false;
    }
});

</script>
{% endblock %}