{% extends "home_layout.html" %}
{% from "macros.html" import nav_link with context %}
{% block content %}


<h2>Record Your Mood</h2>
<br>
    <br>
    <h4>Hi {{ current_user.name }}, how is your day going?</h4>

    <form action="/result" name="result">
        <button type="submit" class="btn btn-outline-default result">
            <span class="d-none"></span>
        </button>
    </form>

{% endblock %}

{% block script %}
<script>
console.log({{ result }})

{#$(document).ready(function() {

    $.ajax({
        type: 'GET',
        url: "{{ url_for('start_record') }}",
        datatype: "text",
        success: function (response) {
            document.getElementById("resultHTML").innerHTML = response;
            $("#modalMood").modal();
        }

    })
});#}

window.onload = function(){
  document.forms['result'].submit();
}
</script>
{% endblock %}