{% extends "home_layout.html" %}
{% from "macros.html" import nav_link2 with context %}
{% block content %}

<h2>RECORD PAGE</h2>
<br>
<a href=# id=record>
    <button class='btn btn-primary' id="myButton">Record</button>
</a>
    </br>
    </br>
    <p id="resultHTML"></p>

{% endblock %}

{% block script %}
<script>
$('#myButton').click(function() {
    $.ajax({
        type:'POST',
        url: "{{ url_for('start_record') }}",
        datatype: "text",
        success: function(response){
            console.log(response);
            document.getElementById("resultHTML").innerHTML = response;
        }
    });

});
</script>
{% endblock %}